@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);  */
}

header img{
    width: 180px;
    margin: 10px auto 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container{
    display: flex;
    align-items: center;
    list-style: none;
}

.list-container .list-item{
    margin: 20px;
    padding: 0;
}

.list-container .item-animation{
    border-bottom: 3px solid white;
    padding: 10px 0;
}

.list-container .item-animation:hover{
    border-bottom: 3px solid rgb(180,157,131);
}

.list-container  a{
    text-decoration: none;
    color: rgb(33,33,33);
    font-size: 20px;
    font-weight: 600;
}

.nav-container a:hover, ul li a i:hover, .cerrar-menu i:hover{
    color: rgb(180,157,131);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

/* main */
main{
    margin-top: 10px;
    background-color: white;
}

/* nueva seccion */
.presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(https://www.vitamina.com.ar/media/wysiwyg/2-Home-Denim_2.jpg);
    background-size: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.presentacion .marca{
    width: 600px;
    margin: auto;
    color: white;
}
.presentacion .marca a{
    text-decoration: none;
    color: white;
}

.presentacion .marca a h1{
    text-align: center;
    font-size: 45px;
}

.presentacion .marca a p{
    text-align: center;
    font-size: 25px;
    color: rgb(180,157,131);
    margin: auto;
}

/* nueva seccion */

.otoño-invierno{
    width: 100vw;
    display: flex;
    margin: 60px auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.otoño-invierno .descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 300px;
}

.otoño-invierno .descripcion .coleccion{
    width: 30vw;
    max-height:300px;
}

.otoño-invierno .descripcion .coleccion h2{
    font-size: 30px;
}

.otoño-invierno .descripcion .coleccion p{
    font-size: 20px;
    font-weight: 500;
    margin: 20px auto;
}

.otoño-invierno .descripcion .coleccion h2, .otoño-invierno .descripcion .coleccion p{
    text-align: center;
}

.otoño-invierno a{
    text-decoration: none;
}

.otoño-invierno a .imagen-venta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(https://1.bp.blogspot.com/-LBjXVqk0vfw/XHt6FDml8HI/AAAAAAABnvY/lVPHHEg7UiAs3oyy-aAZsjCZRuD2NEYVwCEwYBhgL/w1200-h630-p-k-no-nu/moda%2Boto%25C3%25B1o%2Binvierno%2B2019%2Bargentina.jpg);
    background-size: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.otoño-invierno a .imagen-venta .coleccion h2{
    font-size: 30px;
    color: white;
    margin: auto;
}

/* nueva seccion */

.productos .destacados{
    margin:40px auto;
}

.productos .destacados h4{
    text-align: center;
    font-size: 30px;
}

.productos .catalogo{
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

.productos .catalogo .elemento{
    width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.productos .catalogo .elemento img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.productos .catalogo .elemento h5{
    font-size: 20px;
}

.productos .catalogo .elemento .precio{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.productos .catalogo .elemento .precio a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding:16px 34px;
    border-radius: 5px;
    background-color: rgb(180,157,131,0.8);
}

/* nueva seccion */
.estilo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 40px 0;
}

.estilo h4{
    font-size: 35px;
}

.estilo p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.estilo a{
    text-decoration: none;
    color: #fff;
    background-color: #1c1c1c;
    font-size: 32px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

/* footer */

footer{
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
}

footer .container{
    width: 90vw;
    margin: auto;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

footer .container ul li{
    margin: 20px 10px;
}

footer .container ul li i{
    font-size: 30px;
    color: black;
}

.container p{
    text-align:center;
}

/* formulatio*/

.club{
    width: 100vw;
    display: flex;
    margin: 60px auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.228);
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 500px;
    background: linear-gradient(to left, #f6b11b, #f9a201);
}


#formulario input {
	background-color: #eee;
    border: none;
    border-radius: 8px;
	padding: 24px 70px;
	margin: 8px 0;
	width: 100%;
    font-size: 20px;
}

#invitacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 500px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    
}

#boton-club{
    border-radius: 20px;
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    padding: 18px 80px;
    letter-spacing: 2px;
    margin: 30px 0 0 60px;
}

.tarjeta-socio{
    display: flex;
    justify-content: center;
    align-items:  flex-start;
    flex-direction: column;
    width: 50vw;
    height: 500px;
    background: linear-gradient(to left, #f6b11b, #f9a201);   
    
}

#nueva-tarjeta{
    border-radius: 20px;
    border-color: #FFFFFF;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    padding: 18px 60px;
    letter-spacing: 2px;
    margin: 50px 80px 50px 50px;
}

#nueva-tarjeta p {
    font-size: 30px;
    margin: 20px 
}

#nueva-tarjeta h2{
    font-size: 50px;
    margin: 20px 
}

#nueva-tarjeta i{
    font-size: 40px;    
    margin-left: 80%; 
}




/* configuracion responsive a 750px */

@media screen and (max-width: 750px){

    header{
        justify-content: space-around;
    }

    header img{
        margin: 10px 0;
    }

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 25px;
    }

    .cerrar-menu{
        margin-left: 150px;
    }
    .abrir-menu{
        margin:auto 0 auto 110px;
        padding-bottom: 10px;
        color: rgb(33,33,33);
    }

    .nav-container{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav-container.visible{
        opacity: 1;
        visibility: visible;
    }

    .list-container{
        flex-direction: column;
        align-items: start;
    }

    .list-item{
        padding-top: 100px;
    }
    .list-item a, .cerrar-menu{
        color: white;
    }

    .list-container .item-animation, .list-container .item-animation:hover{
        border-bottom: 0;
        padding: 0;
    }

    /* main */
    /* Nueva seccion */
    .presentacion{
        width: 99vw;
        margin: -10px 0 0 0;
        max-height: 320px;
        background-size:cover;
        box-shadow: none;
    }

    .presentacion .marca h1{
        font-size: 25px;
        margin: auto;
    }

    .presentacion .marca p{
        font-size: 15px;
    }

    /* Nueva seccion */
    
    .otoño-invierno{
        margin: auto;
        display: block;
    }

    .otoño-invierno .descripcion{
        width: 99vw;
        height: 250px;
    }

    .otoño-invierno .descripcion .coleccion{
        text-align: center;
        width: 80vw;
    }

    .otoño-invierno a .imagen-venta{
            width: 99vw;
            height: 200px;
            background-size: 100%;
    }

    .otoño-invierno .descripcion .coleccion h2, .imagen-venta .coleccion h2{
        font-size: 30px;
    }

    .otoño-invierno .descripcion .coleccion p{
        font-size: 20px;
    }

    /* Nueva seccion */
    
    .productos .catalogo .elemento{
        width: 70vw;
    }

}